services:
  - type: web
    name: picswap
    env: static
    buildCommand: cd Picswap.Client && npm install && npm run build:css && dotnet publish -c Release -o dist
    staticPublishPath: ./Picswap.Client/dist/wwwroot
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
